
<% layout('/layouts/boilerplate') -%>

    <h3>Edit this Listing:</h3>

    <form method="POST" action="/listings/<%=listing.id%>?_method=PUT">

        Title: <input type="text" name="listing[title]" value="<%=listing.title%>"> <br> <br>
        Description: <textarea name="listing[description]" id=""> <%=listing.description%> </textarea>  <br> <br>
        Price: <input type="number" name="listing[price]" value="<%=listing.price%>"> <br> <br>
        <!-- Image Url: <input type="text" name="listing{image}" value="<listing.image%>"> <br> <br> -->
        Location: <input type="text" name="listing[location]" value="<%=listing.location%>"> <br> <br>
        Country: <input type="text" name="listing[country]" value="<%=listing.country%>"> <br> <br>

        <button>Save Changes</button> 
        <!-- <br><br> <a href="/listings">All Listings</a> -->
    </form>

</body>
